#dropzone {
	background-color: #cfc;
	border: solid 3px #9c9;
	color: #9c9;
	min-height: 50px;
	padding: 20px;
	text-shadow: 1px 1px 0 #fff;
	&.dropover {
		background-color: #cff;
		color: #9cc;
	}
}

#files:empty::before {
	color: #ccc;
	content: "(Files data will be shown here.)";
}
#files img {
	border: solid 1px #ccc;
	cursor: pointer;
	height: auto;
	margin: 0 10px;
	max-height: 128px;
	max-width: 128px;
	width: auto;
}

// menu
#menu {
	position:fixed;
	background-color: #eee;
	border-top: 3px solid #222;
	width: 100%;
	bottom: 0;

	#menu-link {
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		& > .menu-item {
			list-style: none;
			background-color: #cfc;
			border: 1px solid #333;
			border-radius: 5px;
			&:hover {
				background-color: #88f;
				cursor: pointer;
			}
		}
	}
}


#txtarea{
		width: 90%;
		height: 200px;
		overflow: auto;
		background: black;
		color:white;
		white-space: pre;
		padding: 1em;
}

#links {
	& > p {
		font-weight: 400;
	}
}
.item_category {
	list-style: none;
	& > li {
		font-weight: 300;
	}
}
// flexbox style refered from https://www.webcreatorbox.com/tech/css-flexbox-cheat-sheet
.item_childs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-content: flex-start;
	& > li {
		list-style: none;
		font-size:medium;
		margin-left: 2em;
		margin-bottom: 1em;
	}
}


// reference from https://webdesignday.jp/inspiration/technique/css/5316/
#links {
	& .acd-check{
		display: none;
	}
	& .acd-label{
		background: black;
		color: #fff;
		display: block;
		margin-bottom: 1px;
		padding: 3px;
	}
	& > ul:nth-child(1) .acd-label {
			background: navy;
	}
	& > ul:nth-child(2) .acd-label {
			background: #00499a;
	}
	& > ul:nth-child(3) .acd-label {
			background: rgb(0, 80, 0);
	}
	& > ul:nth-child(4) .acd-label {
			background: #e5e2d8;
			color: #333;
	}
	& > ul:nth-child(5) .acd-label {
			background: #78983D;
	}
	& > ul:nth-child(6) .acd-label {
			background: #1752B5;
	}
	& > ul:nth-child(7) .acd-label {
			background: #2275A8;
	}
	// & .acd-content{
	// 	border: 1px solid #333;
	// 	height: 0;
	// 	opacity: 0;
	// 	padding: 0 10px;
	// 	transition: .7s;
	// 	visibility: hidden;
	// }
	// & .acd-check:checked + .acd-label + .acd-content{
	// & .acd-content.acd-open {
	& .acd-content {
		height: auto;
		// height: 200px;
		opacity: 1;
		padding: 10px;
		visibility: visible;
		// overflow: scroll;
	}
}

